body {
    background-color: #EEEEEE;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 64px;
    min-width: 26rem;
    height: 100%;
    overflow-y: auto;
}

.sidebar .collapsible {
    margin: 0;
    min-height: 100%;
    background-color: white;
    border: none;
}

.sidebar .collapsible-header:hover {
    background-color: #e3f2fd;
}

.main {
    padding-left: 30rem;
}

.canvas {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.canvas #main {
    margin: 0;
}

.buttonRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonRow .btn {
    margin: 0 0.5rem;
}

.setting input[type=color] {
    background: none;
    border: none;
    outline: none;
    margin: 0 16px;
    padding: 0;
    width: 36px;
}

.setting .input-field {
    margin-top: 0;
}

.setting input[type=number], .select-wrapper input.select-dropdown {
    max-width: 10rem;
    height: 2rem;
    margin: 0;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #2196F3;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #9ed1fa;
}

input[type=number]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #2196F3;
    box-shadow: 0 1px 0 0 #2196F3;
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before, input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before,
.switch label .lever:before {
    background-color: rgba(158, 209, 250, 0.15);
}

.setting .dropdown-content li>a, .dropdown-content li>span {
    color: #2196F3
}

.setting input[type="checkbox"]:checked+label:before {
    border-right-color: #2196F3;
    border-bottom-color: #2196F3;
}

.setting {
    display: flex;
    align-items: center;
    height: 45px;
}

.setting span {
    flex: 1
}

.collapsible-body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ta-c {
    text-align: center;
}