body {
    background-color: #EEEEEE;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.canvas {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.canvas #main {
    margin: 0;
}

.buttonRow {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonRow .btn {
    margin: 0.5rem;
}

.settings input[type=number] {
    max-width: 50px
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #2196F3;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #9ed1fa;
}

input[type=number]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #2196F3;
    box-shadow: 0 1px 0 0 #2196F3;
}

.setting {
    display: flex;
    align-items: center;
    height: 45px;
}

.setting span {
    flex: 1
}

.mb-1 {
    margin-bottom: 1rem;
}

.ta-c {
    text-align: center;
}