body {
    background-color: #EEEEEE;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.canvas {
    display: flex;
    justify-content: center;
}

.buttonRow {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonRow .btn {
    margin: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ta-c {
    text-align: center;
}